#background{
    background-color: rgb(202, 81, 122);
    
}

#start{
    background-color: rgb(111, 105, 108);
    margin-top: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#start:hover {
    background-color: rgb(131, 123, 127);  
}

#start:active {
    transform: translateY(2px); 
}

#title{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 200px;
    color: white;
}