*{
    margin: 0;
    box-sizing: border-box;
}

#start{
    background-color: rgb(180, 153, 153);
    margin-top: 100px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100px;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#start:hover {
    background-color: rgb(131, 123, 127);  
}

#start:active {
    transform: translateY(2px); 
}

#title{
    margin-top: 300px;
    color: rgb(27, 26, 26);
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 600px) {

    body{
        background-image: url(FondoTelefono.jpg)
    }

}

@media (min-width: 601px) {

    body{
        background-image: url(Fondo.jpeg);
        background-size: cover;
    }

}
