#background{
    background-image: url('Fondo.jpeg');
    background-size: cover;
}

#together{
    width: 300px;
    margin-top: 200px;
    border-radius: 10px;
    border-color: black;
    border: 3px solid black;
}

#text{
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 20px;
    color: rgb(161, 52, 52);
}

#back{
    background-color: rgb(180, 153, 153);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 20px;
    width: 130px;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 10px;
}

#back:hover{
    background-color: rgb(131, 123, 127); 
}

#back:active{
    transform: translateY(2px); 
}