#background{
    background-image: url('Fondo.jpeg');
    background-size: cover;
}

#background2{
    background-color: rgb(134, 115, 128);
    margin-top: 80px;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
}

#forward{
    background-color: rgb(180, 153, 153);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 130px;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 10px;
}

#back{
    background-color: rgb(180, 153, 153);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 20px;
    width: 130px;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 10px;
}

#back:hover{
    background-color: rgb(131, 123, 127); 
}

#back:active{
    transform: translateY(2px); 
}

#forward:hover{
    background-color: rgb(131, 123, 127); 
}

#forward:active{
    transform: translateY(2px); 
}

#title{
    margin-top: 25px;
    color: white;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#fifth{
    margin: 100px;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
    border-radius: 10px;
    margin-top: 120px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
    background-color: rgb(134, 115, 128);
}

#fifth:hover{
    background-color: rgb(131, 123, 127); 
}

#fifth:active{
    transform: translateY(2px); 
}

#sixth{
    margin: 100px;
    font-family: "Sigmar", sans-serif;
    font-weight: 100;
    font-style: normal;
    border-radius: 10px;
    margin-top: 120px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
    background-color: rgb(134, 115, 128);
}

#sixth:hover{
    background-color: rgb(131, 123, 127); 
}

#sixth:active{
    transform: translateY(2px); 
}

#cloudy{
    width: 200px;
    margin-top: 10px;
}

#cloudybutton{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 200px;
    height: auto;
    display: block;
    border: none;
    outline: none;
}